@import '../../../styles.sass'

.main-container
    color: gray

mat-tree 
    background-color: $darker
    display: flex
    flex-direction: column
    justify-content: flex-start
mat-tree-node
    padding: 0px
    color: gray
    cursor: pointer
    width: 100%
    &:hover
        background-color: $hover

.hightest-node
    &:hover
        background-color: transparent

.closed-area
    color: gray

.highlight-white
    color: white

.highlight-gray
    color: gray

.mat-mdc-dialog-container
    border-radius: 8px !important

.mdc-dialog__surface
    border-radius: 8px !important
