<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="0">
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button [disabled]="channel.isClosedArea">
      <mat-icon class="closed-area"> {{channel.isClosedArea ? 'tag' : 'lock' }}</mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding class="hightest-node">
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon>
        <ng-container *ngIf="treeControl.isExpanded(node); else arrow_right">
          arrow_drop_down
        </ng-container>
        <ng-template #arrow_right>arrow_right</ng-template>
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree>