<div class="dialog-container">
    <div mat-dialog-content>
        <h1>Create a channel</h1>
        <div>Channels are where your team communicates. They’re best when organised around a topic – #marketing, for
            example.
        </div>


        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input [(ngModel)]="channel.theme" matInput placeholder="# e.g. budget-planning">
            <!--  <mat-hint>Please enter a name.</mat-hint> -->
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Description<span>(optional)</span></mat-label>
            <input [(ngModel)]="channel.description" matInput>
            <!-- <mat-hint>Please enter a name.</mat-hint> -->
        </mat-form-field>
    
        <div class="private">
        <div>
            <b>Make private</b>
            When a channel is set to private, it can only be viewed or joined by invitation.
        </div>
        <mat-slide-toggle></mat-slide-toggle>
    </div>
  </div>
</div>


<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>State</mat-label>
      <input matInput
             aria-label="State"
             [matAutocomplete]="auto"
             [formControl]="stateCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let state of filteredChannels | async" [value]="state.theme">
          <span>{{channel.theme}}</span> |       
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  
    <br>
  
    <mat-slide-toggle
      [checked]="stateCtrl.disabled"
      (change)="stateCtrl.disabled ? stateCtrl.enable() : stateCtrl.disable()">
      Disable Input?
    </mat-slide-toggle>
  </form>
  