<div class="dialog-container">
  <div>
    <h1>Create a channel</h1>
    <div>Channels are where your team communicates. They’re best when organised around a topic – #marketing, for
      example.
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input [(ngModel)]="channelName" matInput placeholder="# e.g. budget-planning">
      <!--  <mat-hint>Please enter a name.</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Discription<span>(optional)</span></mat-label>
      <input [(ngModel)]="channelDiscription" matInput>
      <!-- <mat-hint>Please enter a name.</mat-hint> -->
    </mat-form-field>
    <div class="private">
      <div>
        <b>Make private</b>
        When a channel is set to private, it can only be viewed or joined by invitation.
      </div>
      <mat-slide-toggle [(ngModel)]="isChecked">Slide Toggle Checked: {{isChecked}}</mat-slide-toggle>
      <button class="create-channel" (click)="addNewChannel()">Create</button>

    </div>
  </div>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Channels</mat-label>
      <input matInput aria-label="State" [matAutocomplete]="auto" [formControl]="channelCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let channel of filteredChannels | async" [value]="channel.theme">
          <span>{{channel.theme}}</span> |
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>