@import '../../styles.sass'
.navbar-container
    width: 300px
    height: 100vh
    background-color: $darker
    li
        color: white
mat-icon
        color: gray
.white-font
    color: white
.gray-font
    color: gray
button 
    background-color: $darker
    border: none
    color: white