<mat-drawer-container class="navbar-container" autosize>
  <ul>
    <li routerLink="channels"></li>
    <li>
      <button (click)="newChannel()"><mat-icon>add_box</mat-icon>Add channels</button></li>
    <li routerLink="messages"></li>
    <li><button (click)="newMessage()"><mat-icon>add_box</mat-icon>Add teamates</button></li>
  </ul>

  <!--  nach mat-tree, wenn Daten vorhanden sind. [dataSource]="dataSource" [treeControl]="treeControl" -->
  <mat-tree>
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled></button>
      {{node.name}}

    </mat-tree-node>
  </mat-tree>


</mat-drawer-container>