@import '../../styles.sass'
.navbar-container
    width: 300px
    height: 100vh
    background-color: $darker
    li
        color: white
        padding-left: 8px
        list-style-type: none
        display: flex
        align-content: center

.white-font
    color: white

.gray-font
    color: gray

button
    background-color: $darker
    border: none
    color: white
    cursor: pointer
    mat-icon
    margin-right: 8px
    color: gray

mat-icon 
    overflow: visible


