<div class="dialog-container">
  <div>
    <h1>Edit User Data</h1>


    <form>
      <mat-form-field appearance="outline">
        <mat-label>User Name</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.username" matInput placeholder="User Name">
      </mat-form-field>


    </form>


    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="">Cancel</button>
      <button mat-button [mat-dialog-close]="" (click)="saveEditedUser()" cdkFocusInitial>Save</button>
    </div>


  </div>