<!-- <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
        <div class="example-form">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input [formControl]="username" matInput placeholder="Username">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input [formControl]="password" matInput placeholder="Password">
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block">Log in</button>
        </div>
    </mat-card>
</div> -->

<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Sign In</h3>
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Username" #userName required>
        </div>
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Password" #userPassword required>
        </div>
        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value); authService.navigateToRoute('dashboard/:id')">
        </div>
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>
        <!-- Calling GoogleAuth Api from AuthService -->
        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Log in with Google
          </button>
        </div>
        <div class="forgotPassword">
          <span routerLink="forgot-password">Forgot Password?</span>
        </div>
      </div>
      <div class="redirectToLogin">
        <span>Don't have an account?<span class="redirect" routerLink="register"> Sign Up</span></span>
      </div>
    </div>
  </div>