
@import '../../../styles.sass'

.brand-logo
    height: 45px
    width: 45px

.navbar
    height: 44px
    box-shadow: 0 0 0 1px $border !important
    display: flex
    justify-content: center

.user-icon
    color: white
    cursor: pointer

.header
    display: flex
    justify-content: center
    align-items: center

.navbar-header
    background-color: $darkest

.nav-dash-container
    display: flex

.font-color
    color: white

.row
    display: flex
    flex-direction: row

.time
    color: rgb(160, 161, 163)

.search-input
    background-color: #d1d2d380
    color: rgb(182, 183, 185)
    border: none
    border-radius: 4px
