@import '../../../styles.sass'
.navbar-container
    width: 300px
    height: calc(100vh - 44px)
    background-color: $darker
    margin-top: 44px
    ul
        width: 100%
        padding-left: 0px
    li
        width: 100%
        color: white
        padding-left: 0px
        list-style-type: none
        display: flex
        align-items: center

        button
            width: 100%
            display: flex
            align-items: center
            margin-top: 32px
            padding: 6px

mat-icon
            margin-right: 8px

.white-font
    color: white

.gray-font
    color: gray

button
    background-color: $darker
    border: none
    color: white
    cursor: pointer
    mat-icon
    margin-right: 8px
    color: gray

app-navbar-channels
    width: 100%
    padding: 0px



.mat-mdc-dialog-container
    border-radius: 8px !important

.mdc-dialog__surface
    border-radius: 8px !important
