/* You can add global styles to this file, and also import other style files */
*
    padding: 0px
    margin: 0px
    margin-block-end: 0px
    margin-block-start: 0px
    font-size: 15px
 

$dark: rgb(26, 29, 33)
$darker: rgb(25, 23, 29)
$darkest: rgb(18, 16, 22)
$violet: #611f69
$blue: #4285f4






/* Importing Bootstrap SCSS file. */
@import "../node_modules/bootstrap/scss/bootstrap"
